.view {
    font-family:'Cambria', serif;
    color: purple;
    font-weight: bold;
}
h3 {
    font-family: "Cambria", serif;
    color: black;
}
.quizcontainer #quiz1{
font-family:"Cambria", sans-serif;
}
.question {
    font-family:'Cambria', serif;
    font-size: 1em;
	font-weight:bold;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: whitesmoke;
    text-align: center;
}

.choiceList {
    font-family: 'Cambria', serif;
    color: purple;
	font-size:1em;
    font-weight:lighter;
    text-align: center;
}
input[type=radio] {
    border: 0px;
    height: 1em;
    width: 10px;
   }

.quizContainer {
    background-color: blue;
    border-radius: 6px;
    width: 50%;
    margin: auto;
    padding-top: 5px;
    position: relative;
}
  
.quizOutput {
        background-color: blue;
        border-radius: 6px;
        width: 20%;
        margin: auto;
        text-align: center;
        padding: 5px;
        font-size:20px;
        font-weight:bold;
        font-family:'Cambria', serif;
        color:purple;
        position:absolute;
        top:80%;
        left:40%;
    }
.result {
        width: 40%;
        height: auto;
        border-radius: 6px;
        background-color: linen;
        margin: auto;
        color:green;
        text-align: center;
        font-size:25px;
        font-family:'Cambria', serif;
        font-weight:lighter;
        position:absolute;
        top:80%;
        left:30%;
    }

h1 {
    font-family:'Cambria', serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    font-family:'Cambria', serif;
    font-size: 1em;
}

p {
    font-family:'Cambria', serif;
}

.nextButton {
    border-radius: 6px;
    height: 30px;
    text-align: center;
    background-color: purple;
    color: black;
    font-family:'Cambria', serif;
    position: relative; 
    margin: auto;
	font-size:15px;
	font-weight:bold;
    padding-top: 5px;
	float:center;
    left:30%;
    
}
.preButton {
    border-radius: 6px;
    height: 30px;
    text-align: center;
    background-color: purple;
    color: black;
    font-family:'Cambria', serif;
    position: relative;
    margin: auto;
	font-size:15px;
	font-weight:bold;
    padding-top: 5px;
	float: center;
	right:30%;
}



